@font-face {
  font-family: "giz";    /* dando um nome ร fonte */
  src: url("fontes/erasdust.ttf") format('truetype'); /* 1ยบ formato */
}
#nome-do-site{
  text-align: center;
  padding: 0.5em 0;
  margin:0;
  line-height: 1em;
  font-size: 2.25em;
  background-color: rgb(37, 81, 10);
  color:#ffffff;
  font-weight: normal;
  font-family: "giz", fantasy;
}
.menu-logo>ul{
  width:83%;
  margin-left: auto;
  margin-right:5%;
  margin-bottom: 0;
  margin-top: 0;
  padding-top:1em;
}
li.menu-principal{
  list-style: none;
  display:inline-block;
  width:20%;
  text-align: center;
  height:2em;
  border-radius: 4px;
  margin-left: 4%;
  margin-bottom: 1em;
}
.menu-principal:not(.atual){
  background-color: rgb(163, 224, 221);
  border: 2px solid rgb(104, 175, 201);
}
.atual{
  background-color: lightgreen;
  border: 2px solid #25bc37;
}
.menu-principal a{
 text-decoration: none;
 color:white;
 text-shadow:2px 2px rgba(0,0,0,0.5);
 font-size:1.5em;
 vertical-align: middle;
}
.menu-principal:not(.atual):hover{
  background-color: rgb(82, 198, 221);
  border: 2px solid rgb(82, 140, 201);
}
#logo{
  width:5%;
  position: absolute;
  left: 5%;
  top: 1.25em;
}
header hr{
  margin:0;
  cursor: n-resize;
  border: 0.25em solid rgb(186, 226, 224);
}

body{
  margin:0px;
}
header{
  position: sticky;
  top:0px;
  background-color: rgb(199, 255, 165);
  z-index:1;
}
main{
  margin-right: 3em;
  margin-left: 3em;
  margin-top:2em;
  margin-bottom: 2em;
}
p{
  font-family:sans-serif;
  line-height: 1.15em;
}

.float-left{
  float: left;
  margin-right:1em;
}
.float-right{
  float: right;
  margin-left:1em;
}
